$primary-color1: rgb(15, 117, 15);
$primary-color2: yellow;

$main-background-color: #221f2f;
$active-background-color:rgb(33, 29, 46);
$background-blur1: #ed2ff0;
$input-box-shadow: 0px 0px 10px rgba(32, 33, 35, 0.45);
$input-border-color: rgb(23, 23, 23);
$hover-input-box-shadow: 0px 0px 10px rgba(68, 67, 67, 0.7);
$input-text-color: #ffffff;
