@import "@scss/constants/constants";
@import "@scss/fonts/fonts";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	line-height: 10px;
	color: #000;
}

body {
	font-family: "Poppins-Regular", sans-serif;
	background-color: $primary-color1;
}
