@font-face {
	font-family: "Poppins-Light";
	src: url("../fonts/Poppins-Light.ttf") format("OpenType");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Poppins-Regular";
	src: url("../fonts/Poppins-Regular.ttf") format("OpenType");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Poppins-Medium";
	src: url("../fonts/Poppins-Medium.ttf") format("OpenType");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Poppins-SemiBold";
	src: url("../fonts/Poppins-SemiBold.ttf") format("OpenType");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Poppins-Bold";
	src: url("../fonts/Poppins-Bold.ttf") format("OpenType");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Poppins-ExtraBold";
	src: url("../fonts/Poppins-ExtraBold.ttf") format("OpenType");
	font-weight: 800;
	font-style: normal;
}